<a href="https://colab.research.google.com/github/Hero0963/data_science_camp_level2/blob/main/task07/dscamp_lv2_task07_hw02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#練習：請將給定的原始資料計算出「每一個 Team」對應「每一個 Year」出現的次數：

In [ ]:
import numpy as np
import pandas as pd

ipl_data = {
    'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
    'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
    'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
    'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
    'Points':[876,789,863,673,741,812,756,788,694,701,804,690]
}
df = pd.DataFrame(ipl_data)
display(df)

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [ ]:
# ref = https://zhuanlan.zhihu.com/p/31952948
df_team_year_count = df.pivot_table(index = 'Year' , columns = 'Team' , values = 'Rank' , aggfunc = 'count')
# print(type(df_team_year_count))
display(df_team_year_count)

Team  Devils  Kings  Riders  Royals  kings
Year
2014     1.0    1.0     1.0     1.0    NaN
2015     1.0    NaN     1.0     1.0    1.0
2016     NaN    1.0     1.0     NaN    NaN
2017     NaN    1.0     1.0     NaN    NaN