<a href="https://colab.research.google.com/github/Hero0963/data_science_camp_level2/blob/main/task04/dscamp_lv2_task04_hw03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#練習：How to check if a dataframe has any missing values？Check if df has any missing values.

In [ ]:
import numpy as np
import pandas as pd

url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'
df = pd.read_csv(url)
print(type(df))
display(df.head())

<class 'pandas.core.frame.DataFrame'>

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

In [ ]:
# Count the number of missing values in each column and find the maximum number of missing values.
# ref = https://stackoverflow.com/questions/52086574/pandas-isna-and-isnull-what-is-the-difference  isna() == isnull()
count_missing_values = df.isna().sum()
print(type(count_missing_values))
display(count_missing_values)

<class 'pandas.core.series.Series'>

Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

In [ ]:
df_count_missing_values = pd.DataFrame([count_missing_values])
print(type(df_count_missing_values))
display(df_count_missing_values)

<class 'pandas.core.frame.DataFrame'>

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,4,1,3,7,2,5,9,2,6,7,...,2,4,1,6,5,4,19,7,5,3

In [ ]:
df_count_missing_values = df_count_missing_values.rename(index={0: 'count_missing_values'})
display(df_count_missing_values)

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
count_missing_values,4,1,3,7,2,5,9,2,6,7,...,2,4,1,6,5,4,19,7,5,3

In [ ]:
df_count_missing_values = df_count_missing_values.T
display(df_count_missing_values)

                    count_missing_values
Manufacturer                           4
Model                                  1
Type                                   3
Min.Price                              7
Price                                  2
Max.Price                              5
MPG.city                               9
MPG.highway                            2
AirBags                                6
DriveTrain                             7
Cylinders                              5
EngineSize                             2
Horsepower                             7
RPM                                    3
Rev.per.mile                           6
Man.trans.avail                        5
Fuel.tank.capacity                     8
Passengers                             2
Length                                 4
Wheelbase                              1
Width                                  6
Turn.circle                            5
Rear.seat.room                         4
Luggage.room                          19
Weight                                 7
Origin                                 5
Make                                   3

In [ ]:
print(df_count_missing_values["count_missing_values"].max())
idx = df_count_missing_values["count_missing_values"].idxmax()
print(idx)

19
Luggage.room

In [ ]:
# How to replace missing values of `multiple numeric` columns with the mean?
df_fill_numeric_mean = df.copy()
df_fill_numeric_mean.fillna(df.mean(numeric_only=True), inplace=True)
display(df_fill_numeric_mean.head())

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.900000,15.9,18.800000,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.000000,37.0,26.5,13.986486,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.200000,33.9,38.700000,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.000000,38.0,30.0,15.000000,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.900000,29.1,32.300000,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.000000,37.0,28.0,14.000000,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,17.118605,37.7,44.600000,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,69.448276,37.0,31.0,17.000000,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,17.118605,30.0,21.459091,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.000000,39.0,27.0,13.000000,3640.0,non-USA,BMW 535i

In [ ]:
# Calculate the average price of different manufacturers.
df_avg_price_by_manufacturer = df.groupby('Manufacturer')['Price'].mean()
display(df_avg_price_by_manufacturer)

Manufacturer
Acura            15.900000
Audi             33.400000
BMW              30.000000
Buick            21.625000
Cadillac         37.400000
Chevrolet        18.187500
Chrysler         22.650000
Dodge            15.700000
Eagle            15.750000
Ford             14.962500
Geo              10.450000
Honda            16.466667
Hyundai          10.475000
Infiniti         47.900000
Lexus            28.000000
Lincoln          35.200000
Mazda            17.600000
Mercedes-Benz    46.900000
Mercury          14.500000
Mitsubishi       18.200000
Nissan           17.025000
Oldsmobile       17.500000
Plymouth         14.400000
Pontiac          16.140000
Saab             28.700000
Saturn                 NaN
Subaru           12.933333
Suzuki            8.600000
Toyota           16.966667
Volkswagen       18.025000
Volvo            22.700000
Name: Price, dtype: float64

In [ ]:
# How to replace missing values of `price` columns with the mean depending on its manufacturers?
df_fill_price_with_manufacturer_mean = df.copy()
df_fill_price_with_manufacturer_mean['Price'] = df.groupby('Manufacturer')['Price'].transform(lambda x: x.fillna(x.mean()))
display(df_fill_price_with_manufacturer_mean.head())

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,NaN,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i