<a href="https://colab.research.google.com/github/Hero0963/data_science_camp_level2/blob/main/task04/dscamp_lv2_task04_hw02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#練習：請利用題目提供的資料，分別完成以下幾種策略的資料填補方法：

In [1]:
import numpy as np
import pandas as pd
raw_data = {'first_name': ['Jason', np.nan, 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', np.nan, 'Ali', 'Milner', 'Cooze'], 
        'age': [42, np.nan, 36, 24, 73], 
        'sex': ['m', np.nan, 'f', 'm', 'f'], 
        'preTestScore': [4, np.nan, np.nan, 2, 3],
        'postTestScore': [25, np.nan, np.nan, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'sex', 'preTestScore', 'postTestScore'])

In [2]:
display(df)

  first_name last_name   age  sex  preTestScore  postTestScore
0      Jason    Miller  42.0    m           4.0           25.0
1        NaN       NaN   NaN  NaN           NaN            NaN
2       Tina       Ali  36.0    f           NaN            NaN
3       Jake    Milner  24.0    m           2.0           62.0
4        Amy     Cooze  73.0    f           3.0           70.0

In [3]:
df.isnull()

   first_name  last_name    age    sex  preTestScore  postTestScore
0       False      False  False  False         False          False
1        True       True   True   True          True           True
2       False      False  False  False          True           True
3       False      False  False  False         False          False
4       False      False  False  False         False          False

In [4]:
# Drop missing observations
df_drop = df.dropna()
display(df_drop)

  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

In [5]:
# Drop rows where all cells in that row is NA
df_drop_all = df.dropna(how='all')
display(df_drop_all)

  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
2       Tina       Ali  36.0   f           NaN            NaN
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

In [6]:
# Create a new column full of missing values
df_copy = df.copy()
new_cloumn = np.nan
df_copy['new_cloumn'] = new_cloumn
display(df_copy)

  first_name last_name   age  sex  preTestScore  postTestScore  new_cloumn
0      Jason    Miller  42.0    m           4.0           25.0         NaN
1        NaN       NaN   NaN  NaN           NaN            NaN         NaN
2       Tina       Ali  36.0    f           NaN            NaN         NaN
3       Jake    Milner  24.0    m           2.0           62.0         NaN
4        Amy     Cooze  73.0    f           3.0           70.0         NaN

In [7]:
# Fill in missing data with zeros
df_fill_zero = df.fillna(0)
display(df_fill_zero)

  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
1          0         0   0.0   0           0.0            0.0
2       Tina       Ali  36.0   f           0.0            0.0
3       Jake    Milner  24.0   m           2.0           62.0
4        Amy     Cooze  73.0   f           3.0           70.0

In [8]:
# Fill in missing in preTestScore with the mean value of preTestScore
df_fill_preTestScore_with_mean = df.fillna({'preTestScore': df['preTestScore'].mean()})
display(df_fill_preTestScore_with_mean)

  first_name last_name   age  sex  preTestScore  postTestScore
0      Jason    Miller  42.0    m           4.0           25.0
1        NaN       NaN   NaN  NaN           3.0            NaN
2       Tina       Ali  36.0    f           3.0            NaN
3       Jake    Milner  24.0    m           2.0           62.0
4        Amy     Cooze  73.0    f           3.0           70.0

In [9]:
# Fill in missing in postTestScore with each sex’s mean value of postTestScore
# ref = https://blog.csdn.net/fengdu78/article/details/120008871
# ref = https://zhuanlan.zhihu.com/p/86350553
df_fill_postTestScore_with_each_sex_mean = df.copy()
df_fill_postTestScore_with_each_sex_mean['postTestScore'] = df.groupby('sex')['postTestScore'].transform(lambda x: x.fillna(x.mean()))
display(df_fill_postTestScore_with_each_sex_mean)

  first_name last_name   age  sex  preTestScore  postTestScore
0      Jason    Miller  42.0    m           4.0           25.0
1        NaN       NaN   NaN  NaN           NaN            NaN
2       Tina       Ali  36.0    f           NaN           70.0
3       Jake    Milner  24.0    m           2.0           62.0
4        Amy     Cooze  73.0    f           3.0           70.0

In [10]:
# Select some rows but ignore the missing data points
display(df_drop.head(2))

  first_name last_name   age sex  preTestScore  postTestScore
0      Jason    Miller  42.0   m           4.0           25.0
3       Jake    Milner  24.0   m           2.0           62.0